/* Reset some default styles  */
body, ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Set background and text colors */
body {
  background-color: #e9e9e9;
  color: #fff;
  font-family: 'Arial', sans-serif;
}

/* Game container */
#game-container {
  display: flex;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0px 0px 0px 0px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

/* Title */
.title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
  color: brown;
}

#name {
margin: 15px 0px 0px 10px
}
/* Instructions */
#instructions {
  
  background-color: #272727;
  padding: 20px;
  margin-bottom: 20px;
}

#instructions h3 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 10px;
}

#instructions p {
  color: #fff;
  margin-bottom: 10px;
}

#instructions ol {
  color: #fff;
  margin-left: 20px;
}

#instructions li {
  margin-bottom: 10px;
}

#Win {
color:Black
}

#Loss {
color:Black
}

#Win {
  display: flex;
  max-width: 500px;
  margin: 0 auto;
  padding: 10px 0px 0px 0px;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-items: stretch;
  text-align:center
}
#Loss {
  display: flex;
  max-width: 500px;
  margin: 0 auto;
  padding: 10px 0px 0px 0px;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-items: stretch;
  text-align:center
  
}

/* Gameplay area */
#game-area {
  display: flex;
  -ms-flex-align: start;
  margin: 0px 0px 0px 0px;
}

.adventurer {
  background-image: url(../Assets/Nobackgroundknightflipped.png),url(../Assets/forest-game-background-free-vector.jpg);
  background-repeat: no-repeat;
  flex-grow: 1;
  background-color: #8c8c8c;
  background-position: center;
  background-position: bottom;
  padding: 20px;
  margin: 10px 10px 10px 10px;
  height: 700px; /* Added height property to make box take up the whole screen */
  width: 350px;
}

.ogre {
  background-image: url(../Assets/Transaparent_Ogre-removebg-preview.png),url(../Assets/forest-game-background-free-vector.jpg);
  background-repeat: no-repeat;
  background-size: fill;
  flex-grow: 1;
  background-color: #8c8c8c;
  background-position: center;
  background-position: bottom;
  padding: 20px;
  margin: 10px 10px 10px 10px;
  height: 700px; /* Added height property to make box take up the whole screen*/
  width: 350px;
}


.adventurer h3 {
  color: #1556ce;
  font-size: 24px;
  margin: 50px 0px 0px 50px;
  text-align: center;
}

.ogre h3 {
  color: #dd431c;
  font-size: 24px;
  margin: 50px 0px 0px 50px;
  text-align: center;
}

.health-bar {
  width: 100%;
  background-color: #555;
  height: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.health-fill {
  width: 100%;
  background-color: #7ac142;
  height: 100%;
  border-radius: 10px;
}

button {
  background-color: #555;
  color: #fff;
  padding: 10px 20px;
  border: white;
  border-radius: 50px;
  cursor: pointer;
  margin-right: 10px;
}

button:hover {
  background-color: #7ac142;
}
  
  